<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bookings</title> 
</head>

<div id="main-navbar"></div> 

<div th:if="${message}">
  <p th:text="${message}"></p>
</div>

<div th:if="${not #lists.isEmpty(bookings)}"> 
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Tour Name</th>
        <th>Booking Date</th>
        <th>Pickup Address</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="booking : ${bookings}"> 
        <td th:text="${booking.bookingId}"></td>
        <td th:text="${booking.customer.customerName}"></td>
        <td th:text="${booking.tour.tourName}"></td>
        <td th:text="${booking.bookingDate}"></td>
        <td th:text="${booking.pickupAddress}"></td>
        <td th:text="${booking.status}"></td>
      </tr>
    </tbody>
  </table>
</div>

<div th:if="${error}">
  <p th:text="${error}"></p>
</div>

<script src="RoleChecking.js"></script>

</body>
</html>