<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose one</title>
    <link rel="stylesheet" 
        href="/css/loginStyle.css">
</head>
<body>
    <form class="form">
        <div class="flex-row">
            <label>Choose your kind of account</label>
            <button class="btn admin" 
                id="adminLoginBtn">
                Login as Admin
                <img src="/assets/Notch.ico">
            </button>

            <button class="btn user"
                id="userLoginBtn">
                Login as User
                <img src="/assets/Steve.ico">
            </button>
        </div>

        <script src="/javascript/StartingScript.js"></script>
    </form>
</body>